<!doctype html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" th:href="@{/static/app.css}">
  <link rel="stylesheet" th:href="@{/static/bootstrap.css}">

</head>

<body>

  <div class="jumbotron">
    <h1 class="display-4">POS</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p> </p>
    <a class="btn btn-primary btn-lg" href="./ui/brand" role="button">Get Started</a>
  </div>

</body>

</html>