<!doctype html>

<html lang="en">

<head>

	<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_navbar"></nav>
	<div class="row">&nbsp;</div>
	<h3 style="text-align: center; font-weight: bold">Sales Report</h3>

	<div class="container">

		<div class="row">&nbsp;</div>

		<!-- Top row with form-->
		<div class="row">
			<div class="col-12">
				<form class="form-inline" id="report-form">

					<!-- <div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Brand-Category</span>
						<select id='brand_category' class="form-select form-control" name="brand_category"
							aria-label="Default select example">
							<option selected>Choose...</option>
						</select>
					</div> -->

					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
						<input type="text" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" name="brand" id="inputBrand"
							placeholder="Enter Brand">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Category</span>
						<input type="text" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" name="category" id="inputCategory"
							placeholder="Enter Category">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Start Date</span>
						<input type="date" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" name="start_date" id="inputStartDate"
							placeholder="Enter Start Date">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">End Date</span>
						<input type="date" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" name="end_date" id="inputEndDate"
							placeholder="Enter End Date">
					</div>

					<div class="row">&nbsp;</div>

					<button type="button" class="btn btn-primary" id="generate_sales_report">Generate Sales Report</button>

				</form>
			</div>
		</div>

        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <span style="border-bottom: 8px solid rgb(150, 153, 167); display: block;"></span>

        <div class="row">&nbsp;</div>
	    <h3 style="text-align: center; font-weight: bold">Inventory Report</h3>

        <div class="row">&nbsp;</div>
		<button type="button" class="btn btn-primary" id="generate_inventory_report">Generate Inventory Report</button>

        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <span style="border-bottom: 8px solid rgb(150, 153, 167); display: block;"></span>
    
        <div class="row">&nbsp;</div>
	    <h3 style="text-align: center; font-weight: bold">Brand Report</h3>

        <div class="row">&nbsp;</div>
		<button type="button" class="btn btn-primary" id="generate_brand_report">Generate Brand Report</button>

	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>